.app-loader {
    width: 100vw;
    height: calc(100vh - 30px);
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 9999 !important;
    background: #fff;
    background-size: 100% 100%;
    user-select: none !important;
    -moz-animation: app-loader-fadein 1s ease;
    -o-animation: app-loader-fadein 1s ease;
    -webkit-animation: app-loader-fadein 1s ease;
    animation: app-loader-fadein 1s ease;
}
/*
@keyframes app-loader-fadein {
    0% {
        background: #e4e4e4;
    }
    100% {
        background: #fff;
    }
}*/

.app-loader.fadeout {
    opacity: 0;
    -moz-animation: app-loader-fadeout 1s ease;
    -o-animation: app-loader-fadeout 1s ease;
    -webkit-animation: app-loader-fadeout 1s ease;
    animation: app-loader-fadeout 1s ease;
}

@keyframes app-loader-fadeout {
    0% {
        opacity: 1;
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100% {
        opacity: 0;
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -moz-filter: hue-rotate(120deg);
        -webkit-filter: hue-rotate(120deg);
        filter: hue-rotate(120deg);
    }
}

.app-loader-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.app-loader-foreground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.app-loader-background-video {
    width: 100%;
    height: 100%;
    position: relative;
    background: none;
    overflow: hidden;
}

    .app-loader-background-video video {
        width: 800px;
        height: 800px;
        position: absolute;
        inset: 0;
        margin: auto;
        object-fit: fill;
        border-radius: 50%;
        box-shadow: 0px 0px 20px 20px #f1f1f1;
        -moz-animation: bg-video-fadein 1s ease;
        -o-animation: bg-video-fadein 1s ease;
        -webkit-animation: bg-video-fadein 1s ease;
        animation: bg-video-fadein 1s ease;
    }

@keyframes bg-video-fadein {
    0% {
        -moz-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
        -webkit-transform: scale(.9);
        transform: scale(.9);
        border-radius: 50%;
    }
    100% {
        -moz-filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        border-radius: 50%;
    }
}

.loader-textcontainer {
    width: 31vw;
    height: 25vh;
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 110px;
    -moz-animation: loader-textcontainer-fadein 1s ease;
    -o-animation: loader-textcontainer-fadein 1s ease;
    -webkit-animation: loader-textcontainer-fadein 1s ease;
    animation: loader-textcontainer-fadein 1s ease;
}

@keyframes loader-textcontainer-fadein {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
    }
}

.loader-textcontainer-icon {
    width: 150px;
    height: 150px;
    margin: auto;
}

    .loader-textcontainer-icon img {
        width: 100%;
        height: 100%;
        position: relative;
        user-select: none;
        pointer-events: none;
    }

.loader-textcontainer-hl {
    width: 150px;
    height: 5px;
    border-radius: 10px;
    margin: 30px auto;
    background: #15232b;
}

.loader-textcontainer-splash {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
}

    .loader-textcontainer-splash span {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 100;
        color: #000000;
        text-transform: uppercase;
        /*text-shadow: -4px 0 #969696;*/
    }

.loader-footer {
    width: 100vw;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: none;
}

.loader-footer-text {
    width: auto;
    height: auto;
    float: left;
    margin-left: 20px;
    margin-top: 14px;
}

.loader-footer-text span {
    font-family: RobotoLight;
    font-size: 12px;
    color: #000;
}